:root {
  --gradient: inear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --font: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  box-sizing: border-box;
  font-size: 14px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  background-image: url(/images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  background-color: var(--dark-blue);
  height: 25%;
  width: 80%;
  border-radius: 10px;
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fylo-container {
  align-self: flex-start;
  margin-left: 12%;
}

.icon-container {
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  align-items: center;
  margin-right: 35%;
  margin-left: 12%;
}

.img-container {
  background-color: var(--very-dark-blue);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.second {
  background-color: var(--dark-blue);
  height: 20%;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 2rem;
}

.second h1 {
  font-weight: 300;
}

.container {
  background-color: var(--very-dark-blue);
  width: 80%;
  height: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.color {
  background: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width: 80%;
  height: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.point {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.gbs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-weight: 300;
}

.left {
  width: 170px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 10px;
  position: absolute;
  margin-top: 180px;
  align-items: center;
}

.left h1 {
  color: var(--very-dark-blue);
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 5px;
}

.left h2 {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url(/images/bg-desktop.png);
    background-size: 100%;
    background-position: 0 50vh;
    background-repeat: no-repeat;
  }

  .main {
    width: 440px;
    margin-left: 10%;
    margin-right: 2%;
  }

  .second {
    width: 600px;
    height: 20%;
    margin-top: 50px;
    margin-right: 10%;
  }

  .second h1 {
    margin-right: 35%;
    font-size: 1.2rem;
  }

  .left {
    position: absolute;
    top: 180px;
    right: 450px;
  }

  .gbs {
    margin-top: 10px;
  }

  .left h1 {
    font-size: 3rem;
    margin: 0;
  }
}